.buttonPadding {
  padding: 10px;
}

@media all and (min-width: 728px) {
  .supportContainer {
    min-width: 600px !important;
  }
}

@media all and (max-width: 768px) {
  .supportContainer {
    width: 100% !important;
    padding: 24px 8px;
  }
}

@media all and (max-width: 565px) {
  .supportContainer {
    width: 100% !important;
    padding: 24px 8px;
  }
}
