.ReceiptSelectField .MuiSelect-select {
  padding-bottom: 0 !important;
}

.ReceiptSelectField > .MuiSelect-select {
  padding-bottom: 0 !important;
}

.ReceiptSelectField.select {
  padding-bottom: 0 !important;
}

.ReceiptSelectFiel .MuiOutlinedInput-input {
  padding-bottom: 0 !important;
}
