.ReceiptSelectField .MuiSelect-select {
  margin-bottom: 0 !important;
}

.ReceiptSelectField > .MuiSelect-select {
  margin-bottom: 0 !important;
}

.ReceiptSelectField.select {
  margin-bottom: 0 !important;
}
