.ad-hub-logo {
  color: var(--text-primary);
  font-size: 1.5rem;
  font-weight: 800;
  display: flex;
  position: relative;
  transition: color 0.3s ease;
}

.ad-hub-logo a {
  display: flex;
}

.ad-hub-logo svg {
  position: relative;
  top: 6px;
}

.homeHeaderContainer {
  display: flex;
  justify-content: space-between;
  max-width: 768px;
  margin: 0 auto;
  position: relative;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.homePageContentContainer {
  position: relative;
  top: 10px;
  padding: 0px 40px;
}

@media all and (max-width: 768px) {
  .homeHeaderContainer {
    padding: 16px;
    gap: 12px;
    flex-wrap: wrap;
  }

  .homePageContentContainer {
    top: 0px;
    padding: 0px 20px;
  }

  .signInButton {
    width: 100% !important;
  }

  .homePageContentContainer h3 {
    font-size: 3rem !important;
  }

  .ad-hub-logo {
    font-size: 1.85rem !important;
  }
}

@media all and (max-width: 991px) {
  .loginScreenContainer {
    padding: 40px;
  }

  .homePageContentContainer {
    top: 0px;
    text-align: center !important;
  }
}

@media all and (min-width: 1168px) {
  .homePageContentContainer {
    position: relative;
    top: 10px;
    padding: 0px 40px;
  }
}
